@model Laboratorium3.Models.Car

<h1>Szczegóły Samochodu</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Producent:</dt>
        <dd class="col-sm-10">@Model.Manufacturer</dd>

        <dt class="col-sm-2">Pojemność silnika:</dt>
        <dd class="col-sm-10">@Model.EngineCapacity</dd>

        <dt class="col-sm-2">Moc:</dt>
        <dd class="col-sm-10">@Model.Power</dd>

        <dt class="col-sm-2">Rodzaj silnika:</dt>
        <dd class="col-sm-10">@Model.EngineType</dd>

        <dt class="col-sm-2">Nr rejestracyjny:</dt>
        <dd class="col-sm-10">@Model.RegistrationNumber</dd>

        <dt class="col-sm-2">Właściciel:</dt>
        <dd class="col-sm-10">@Model.Owner</dd>
    </dl>
</div>

<div>
    <a asp-controller="Car" asp-action="Index">
        <button type="button">Powrót</button>
    </a>
</div>
